## Restore 'SUCOS\_VENDAS' database [here](https://s3.amazonaws.com/caelum-online-public/836-consultas-com-sql-server-2017/01/SUCOS_VENDAS.BAK%5D%5D(https://s3.amazonaws.com/caelum-online-public/836-consultas-com-sql-server-2017/01/SUCOS_VENDAS.BAK%5D)

In [ ]:
select s.name as schema_name, 
    s.schema_id,
    u.name as schema_owner
from sys.schemas s
    inner join sys.sysusers u
        on u.uid = s.principal_id
order by s.name

## Describe tables ↓

In [ ]:
EXEC sp_help'NOTAS FISCAIS'

### OR

In [ ]:
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'NOTAS FISCAIS'

## LIKE

In [ ]:
SELECT [NOME]
FROM [TABELA DE CLIENTES]
WHERE NOME LIKE '%Mattos'

## AGRUPAMENTO

In [ ]:
SELECT [CIDADE] ,[BAIRRO],[LIMITE DE CREDITO]
FROM [TABELA DE CLIENTES]
-- ORDER BY  AVG([LIMITE DE CREDITO]) DESC

In [ ]:
SELECT [CIDADE],[BAIRRO], AVG([LIMITE DE CREDITO])
FROM [TABELA DE CLIENTES]
GROUP BY [CIDADE], [BAIRRO]
-- HAVING AVG([LIMITE DE CREDITO]) >= 140000.0000
ORDER BY  AVG([LIMITE DE CREDITO]) DESC

<span style="color: #569cd6;">- Syntax:</span>

<span style="color: #569cd6;">CASE</span> <span style="color: #569cd6;">WHEN</span> <span style="color: #ce9178;">'condition'</span> <span style="color: #569cd6;">then</span> <span style="color: #ce9178;">'option'</span>

<span style="color: #569cd6;">WHEN</span> <span style="color: #ce9178;">'condition'</span> <span style="color: #569cd6;">then</span> <span style="color: #ce9178;">'option'</span>

<span style="color: #569cd6;">else</span> <span style="color: #ce9178;">'default'</span>

<span style="color: #569cd6;">END</span>

## CASE

In [ ]:
select year([DATA]),
CASE WHEN [IMPOSTO] <= 3000.0 THEN 'ALTO'
     else 'BAIXO' 
END,
sum([IMPOSTO])
FROM [NOTAS FISCAIS]
GROUP BY YEAR([DATA]),
CASE WHEN [IMPOSTO] <= 3000.0 THEN 'ALTO'
     else 'BAIXO' 
END

## Inner Join

In [ ]:
SELECT top 5 * from [TABELA DE VENDEDORES]
SELECT top 5 * from [NOTAS FISCAIS]

In [ ]:
SELECT TOP 5 * 
from [TABELA DE VENDEDORES] V
INNER JOIN [NOTAS FISCAIS] N ON V.[MATRICULA] = N.MATRICULA 
ORDER BY [NOME]

In [ ]:
SELECT V.MATRICULA, V.NOME, COUNT(*)
FROM [TABELA DE VENDEDORES] V 
INNER JOIN [NOTAS FISCAIS] N ON N.MATRICULA = V.MATRICULA 
GROUP BY V.MATRICULA, V.NOME

## LEFT and RIGHT JOIN

In [ ]:
SELECT V.MATRICULA, V.NOME, COUNT(*)
FROM [TABELA DE VENDEDORES] V 
LEFT JOIN [NOTAS FISCAIS] N ON N.MATRICULA = V.MATRICULA 
GROUP BY V.MATRICULA, V.NOME

SELECT V.MATRICULA, V.NOME, COUNT(*)
FROM [TABELA DE VENDEDORES] V 
RIGHT JOIN [NOTAS FISCAIS] N ON N.MATRICULA = V.MATRICULA 
GROUP BY V.MATRICULA, V.NOME

## Sub query

In [86]:
SELECT NOVA.NOME,NOVA.[DATA ADMISSÃO]
FROM (SELECT * 
      from [TABELA DE VENDEDORES] V
      ) as NOVA 
WHERE YEAR(NOVA.[DATA ADMISSÃO]) in ('2017','2016')

NOME,DATA ADMISSÃO
Roberta Martins,2017-03-18
Pericles Alves,2016-08-21