## VARIAVEIS

In [ ]:
-- DECLARA VARIAVEL
DECLARE @IDADE INT
DECLARE @NOME VARCHAR(50)
DECLARE @DATA DATE

-- ATRIBUI VALORES A VARIAVEIS

SET @IDADE = 20
PRINT @IDADE

SET @NOME = 'JOAO DA SILVA'
PRINT @NOME


SET @DATA = '20190709'
PRINT @DATA

## CONTROLE DE FLUXO

In [ ]:
IF OBJECT_ID('TABELA_TESTE','U') IS NULL 
BEGIN
    CREATE TABLE TABELA_TESTE (ID VARCHAR(10))
    PRINT 'TABELA CRIADA'
END
ELSE 
PRINT 'TABELA JA EXISTE!'

## WHILE

In [ ]:
DECLARE @INICIO INT, @FIM INT

SET @INICIO = 1
SET @FIM = 24

WHILE @INICIO <= @FIM
BEGIN 
    PRINT @INICIO
    SET @INICIO += 1
END